body {
  position: relative;
  margin: 0;
  font-family: "DM Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(250 250 250);
  background: linear-gradient(180deg, rgb(10 11 13), rgb(58 65 74));
  overflow-x: hidden;
}

body::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../imgs/background-pattern.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.8;
  filter: drop-shadow(1.25px 1.25px 0.75px rgba(8 8 8 / 0.8));
}

#site-header {
  width: 100%;
  height: 100px;
  box-shadow: rgba(8 8 8 / 0.6) 0 6px 8px;
  display: grid;
  place-content: center;
  background: linear-gradient(0deg, rgba(22 24 28 / 0.8), rgba(10 11 13 / 0.9));
}

#full-name {
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  text-decoration-thickness: 0.1875rem;
  color: rgb(245 245 245);
}

main {
  width: 45vw;
  margin: 50px auto 75px;
}

.card {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border: solid 0.0469rem rgba(77 85 97 / 0.9);
  border-radius: 7.5px;
  box-shadow: rgba(10 10 10 / 0.7) 3px 3px 3px;
}

.odd {
  background: linear-gradient(337.5deg, rgb(16 18 20) 0%, rgb(34 38 43) 100%);
  padding: 15px 30px 12px 25px;
}

.even {
  background: linear-gradient(22.5deg, rgb(16 18 20) 0%, rgb(34 38 43) 100%);
  padding: 15px 40px 12px 25px;
}

h2 {
  font-weight: 400;
  color: rgb(250 250 250);
  margin: 0;
}

p {
  margin: 8px 0 12px;
}

h3 {
  font-weight: 400;
  color: rgb(250 250 250);
  margin: 0;
}

#about-me {
  padding: 15px 80px 15px 25px;
  text-align: justify;
}

#skill-set h3 {
  font-size: 1.125rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}

#education p {
  line-height: 1.75;
}

.degree {
  font-size: 1.0625rem;
}

.member {
  font-weight: 300;
  font-style: italic;
}

#work-experience h3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.role-company {
  font-size: 1.125rem;
}

.time-period {
  font-weight: 300;
}

.job-description {
  font-size: 0.9375rem;
  margin-left: -10px;
}

#my-links {
  width: fit-content;
  line-height: 1.75;
}

#my-links p {
  margin: 5px;
}

a {
  color: rgb(78 127 232);
}

#site-footer {
  width: 100%;
  height: 125px;
  display: grid;
  place-content: center;
  background: linear-gradient(0deg, rgb(10 11 13), rgba(22 24 28 / 0.9));
}

#contact-bttn {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 10px;
  padding: 15px;
  align-content: center;
  font-family: "DM Mono", sans-serif;
  font-size: 0.9375rem;
  color: rgb(250 250 250);
  background: rgba(40 45 51 / 0.8);
  box-shadow: rgba(8 8 8 / 0.8) -3px 3px 0;
  cursor: pointer;
}

#contact-bttn:hover {
  background: rgba(63 70 80 / 0.7);
  box-shadow: rgba(12 12 12 / 0.8) -3px 3px 0;
}

@media screen and (max-width: 1200px) {
  main {
    width: 65vw;
    margin: 37.5px auto 62.5px;
  }

  .card {
    padding: 15px 25px 12px 20px;
  }

  #about-me {
    padding:  15px 70px 12px 20px;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 85vw;
    margin: 25px auto 50px;
  }

  .card {
    padding: 10px 25px 12px 20px;
  }

  #about-me {
    padding:  10px 60px 12px 20px;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin: 25px auto 37.5px;
  }

  #about-me {
    padding:  10px 50px 12px 20px;
  }

  #skills {
    font-size: 0.9375rem;
  }
}
