/* Mobile 1st */
body {
  position: relative; /* Ensures pseudo-element is positioned relative to body */
  margin: 0;
  font-family: "DM Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(247, 247, 247);
  background: radial-gradient(circle, rgba(77,85,97,1) 0%, rgba(12,14,15,1) 100%);
  overflow-x: hidden;
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-pattern_vert.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: drop-shadow(0.0313rem 0.0313rem 0.0156rem rgba(10, 10, 10, 0.7)); /* 0.5px 0.5px 0.25px */
    opacity: 0.6;
    z-index: -1;
}
#site-header {
  width: 100%;
  height: 6.25rem; /* 100px */
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, rgba(8,9,10,1), rgba(20,23,26,0.9));
  box-shadow: rgba(8,8,8,0.6) 0 0.25rem 0.375rem; /* 0 4px 6px */
}
#my-name {
  letter-spacing: 0.0625em; /* 1px */
  text-decoration: underline;
  text-underline-offset: 0.2813rem; /* 4.5px */
  text-decoration-thickness: 0.1875rem; /* 3px */
  color: rgb(243, 243, 243);
}
h1 {
  margin: 0;
  font-style: normal;
}
main {
  width: 85vw;
  margin: 2.3438rem auto 3.9063rem; /* 37.5px auto 62.5px */
}
h2 {
  margin: 0;
  font-weight: normal;
  color: rgb(243, 243, 243);
}
p {
  margin: 0.5rem 0 0.75rem; /* 8px 0 12px */
}
#about-me {
  width: auto;
  height: fit-content;
  border-style: solid;
  border-width: 0.0469rem; /* 0.75px */
  border-radius: 0.3125rem; /* 5px */
  border-color: rgba(77,85,97,0.9);
  padding: 0.625rem 2.5rem 0.625rem 1.25rem; /* 10px 40px 10px 20px */
  background: linear-gradient(22.5deg, rgba(16,18,20,1.0) 0%, rgba(34,38,43,1.0) 100%);
  box-shadow: rgba(10,10,10,0.7) 0.1875rem 0.1875rem 0.1875rem; /* 3px 3px 3px */
  margin-bottom: 0.9375rem; /* 15px */
}
#short-bio {
  font-size: 0.9375rem; /* 15px */
  text-align: justify;
}
#skill-set {
  width: auto;
  height: fit-content;
  border-style: solid;
  border-width: 0.0469rem; /* 0.75px */
  border-radius: 0.3125rem; /* 5px */
  border-color: rgba(77,85,97,0.9);
  padding: 0.625rem 0.9375rem 0.625rem 1.25rem; /* 10px 15px 10px 20px */
  background: linear-gradient(22.5deg, rgba(16,18,20,1.0) 0%, rgba(34,38,43,1.0) 100%);
  box-shadow: rgba(10,10,10,0.7) 0.1875rem 0.1875rem 0.1875rem; /* 3px 3px 3px */
  margin-bottom: 0.9375rem; /* 15px */
}
#skills {
  font-size: 0.9375rem; /* 15px */
  line-height: 1.75;
}
#work-experience {
  width: auto;
  height: fit-content;
  border-style: solid;
  border-width: 0.0469rem; /* 0.75px */
  border-radius: 0.3125rem; /* 5px */
  border-color: rgba(77,85,97,0.9);
  padding: 0.625rem 0.9375rem 0.625rem 1.25rem; /* 10px 15px 10px 20px */
  background: linear-gradient(22.5deg, rgba(16,18,20,1.0) 0%, rgba(34,38,43,1.0) 100%);
  box-shadow: rgba(10,10,10,0.7) 0.1875rem 0.1875rem 0.1875rem; /* 3px 3px 3px */
  margin-bottom: 0.9375rem; /* 15px */
}
.company {
  font-size: 1.125rem; /* 18px */
}
.job-description {
  margin-left: -1.25rem; /* -20px */
  font-size: 0.9375rem; /* 15px */
}
#education {
  width: auto;
  height: fit-content;
  border-style: solid;
  border-width: 0.0469rem; /* 0.75px */
  border-radius: 0.3125rem; /* 5px */
  border-color: rgba(77,85,97,0.9);
  padding: 0.625rem 0.9375rem 0.625rem 1.25rem; /* 10px 15px 10px 20px */
  background: linear-gradient(22.5deg, rgba(16,18,20,1.0) 0%, rgba(34,38,43,1.0) 100%);
  box-shadow: rgba(10,10,10,0.7) 0.1875rem 0.1875rem 0.1875rem; /* 3px 3px 3px */
  margin-bottom: 0.9375rem; /* 15px */
}
.degree-school {
  font-size: 1.0625rem;
}
h3 {
  margin: 0;
  font-weight: normal;
}
a {
  color: rgb(76, 131, 252);
}
#my-links {
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-width: 0.0469rem; /* 0.75px */
  border-radius: 0.3125rem; /* 5px */
  border-color: rgba(77,85,97,0.9);
  padding: 0.625rem 1.875rem 0.625rem 1.25rem; /* 10px 30px 10px 20px */
  background: linear-gradient(22.5deg, rgba(16,18,20,1.0) 0%, rgba(34,38,43,1.0) 100%);
  box-shadow: rgba(10,10,10,0.7) 0.1875rem 0.1875rem 0.1875rem; /* 3px 3px 3px */
}
#listed-links{
  line-height: 1.75;
}
#site-footer {
  width: 100%;
  height: 7.8125rem; /* 125px */
  display: grid;
  place-items: center;
  background: linear-gradient(0deg, rgba(8,9,10,0.9), rgba(20,23,26,0.8));
}
#site-footer p {
  margin: 0.3125rem; /* 5px */
}
.footer-text button {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 0.4688rem; /* 7.5px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  font-family: "DM Mono", sans-serif;
  font-size: 0.8125rem; /* 13px */
  text-align: center;
  color: rgb(243, 243, 243);
  display: grid;
  place-items: center;
  background: rgba(40,45,51,1);
  box-shadow: rgba(8,8,8,0.9) -0.25rem 0.25rem 0; /* 4px 4px 0 */
}
/* Tablet, laptop & beyond */
@media screen and (min-width: 48em) { /* 768px */
  body::before {
    background-image: url(../images/background-pattern_horiz.png);
  }
  main {
    width: 55vw;
    margin: 3.125rem auto 4.6875rem; /* 50px auto 75px */
  }
  #about-me {
    width: fit-content;
    padding: 0.9375rem 3.75rem 0.625rem 1.5625rem; /* 15px 60px 10px 25px */
  }
  #short-bio {
    font-size: 1rem;
  }
  #skill-set {
    width: fit-content;
    padding: 0.9375rem 2.5rem 0.625rem 1.5625rem; /* 15px 40px 10px 25px */
  }
  #skills {
    font-size: 1rem; /* 16px */
  }
  #work-experience {
    width: fit-content;
    padding: 0.9375rem 2.5rem 0.625rem 1.5625rem; /* 15px 40px 10px 25px */
  }
  .company {
    margin-top: 0.625rem; /* 10px */
    font-size: 1.125rem; /* 18px */
  }
  #education {
    width: fit-content;
    padding: 0.9375rem 1.875rem 0.625rem 1.5625rem; /* 15px 30px 10px 25px */
  }
  #my-links {
    width: fit-content;
    padding: 0.9375rem 1.875rem 0.5rem 1.5625rem; /* 15px 30px 10px 25px */
  }
  .footer-text button {
    cursor: pointer;
  }
}
