body {
  margin: 2rem;
  background: radial-gradient(circle, rgba(70,78,89,1) 0%, rgba(16,18,20,1) 100%);
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  color: rgb(243, 243, 243);
  line-height: 1.5;
}

.full-name {
  width: 40%;
  margin-left: 0.25rem;
  margin-bottom: 1.75rem;
  border-bottom-style: solid;
  border-width: 0.125rem;
  color: rgb(243, 243, 243);
  line-height: 1.0;
}

.education {
  width: 60%;
  margin-bottom: 1.25rem;
  padding: 0.125rem 1.25rem;
  border-radius: 0.469rem;
  background: linear-gradient(90deg, rgba(22,25,28,1) 0%, rgba(22,25,28,0.65) 100%);
}

.member-of {
  font-style: italic;
}

.skills-header h2, .skills-header h3 {
  display: inline-block;
  margin-right: 0.016rem;
  margin-bottom: 0.156rem;
}

.skills {
  width: 60%;
  margin-bottom: 1.25rem;
  padding: 0.125rem 1.25rem;
  border-radius: 0.469rem;
  background: linear-gradient(90deg, rgba(22,25,28,1) 0%, rgba(22,25,28,0.65) 100%);
}

.work-experience {
  width: 60%;
  margin-bottom: 1.25rem;
  padding: 0.125rem 1.25rem;
  border-radius: 0.469rem;
  background: linear-gradient(90deg, rgba(22,25,28,1) 0%, rgba(22,25,28,0.65) 100%);
}

.contact-links {
  width: 60%;
  margin-bottom: 1.25rem;
  padding: 0.125rem 1.25rem;
  border-radius: 0.469rem;
  background: linear-gradient(90deg, rgba(22,25,28,1) 0%, rgba(22,25,28,0.65) 100%);
}
