body {
  margin: 0;
  display: grid;
  place-items: center;
  font-family: "DM Mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(243, 243, 243);
  background: radial-gradient(circle, rgba(70,78,89,1) 0%, rgba(16,18,20,1) 100%);
}

.full-name {
  width: 100vw;
  height: 6.25rem;
  margin-bottom: 3.125rem;
  display: grid;
  place-items: center;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  color: rgb(247, 247, 247);
  background: linear-gradient(180deg, rgba(8,8,8,0.75), rgba(16,16,16,0.5));
}

.education {
  width: 50vw;
  height: auto;
  margin-bottom: 1.5625rem;
  padding: 0 1.1719rem 0.3906rem;
  border-style: solid;
  border-width: 0.0039rem;
  border-radius: 0.469rem;
  border-color: rgba(83,92,105,1.0);
  background: linear-gradient(90deg, rgba(16,18,20,0.9) 0%, rgba(22,25,28,0.5) 100%);
}

.degree {
  font-size: 1.125rem;
}

.skill-set {
  width: 50vw;
  height: auto;
  margin-bottom: 1.5625rem;
  padding: 0 1.1719rem 0.3906rem;
  border-style: solid;
  border-width: 0.0039rem;
  border-radius: 0.469rem;
  border-color: rgba(83,92,105,1.0);
  background: linear-gradient(90deg, rgba(16,18,20,0.9) 0%, rgba(22,25,28,0.5) 100%);
}

.skills-header h2, .skills-header h3 {
  display: inline-block;
  margin-right: 0.0313rem;
  margin-bottom: 0.156rem;
}

.skills {
  line-height: 1.5;
}

.work-experience {
  width: 50vw;
  height: auto;
  margin-bottom: 1.5625rem;
  padding: 0 1.1719rem 0.3906rem;
  border-style: solid;
  border-width: 0.0039rem;
  border-radius: 0.469rem;
  border-color: rgba(83,92,105,1.0);
  background: linear-gradient(90deg, rgba(16,18,20,0.9) 0%, rgba(22,25,28,0.5) 100%);
}

.company {
  font-size: 1.25rem;
}

.job-description {
  line-height: 1.5;
}

.contact-links {
  width: 50vw;
  height: auto;
  margin-bottom: 4.6875rem;
  padding: 0 1.1719rem 0.3906rem;
  border-style: solid;
  border-width: 0.0039rem;
  border-radius: 0.469rem;
  border-color: rgba(83,92,105,1.0);
  background: linear-gradient(90deg, rgba(16,18,20,0.9) 0%, rgba(22,25,28,0.5) 100%);
}

.contact {
  font-size: 1.125rem;
}

.links {
  line-height: 1.5;
}

a {
  color: #53a6ff;
}

footer {
  width: 100vw;
  height: 9.375rem;
  display: grid;
  place-items: center;
  font-family: Roboto Mono;
  font-style: italic;
  font-size: 1.25rem;
  background: linear-gradient(0deg, rgba(8,8,8,0.75), rgba(16,16,16,0.5));
}
